body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    display: flex;
    height: 80px;
    background-color: #79111e;
    justify-content: space-around;
    align-items: center;
    color: white;
}
.nav-a{
    color: white;
    text-decoration: none;
}
.nav {
    display: flex;
    gap: 32px;
}
#login {
    text-align: center; 
    margin: 20px auto; 
    max-width: 300px; 
    padding: 20px; 
    background-color: #f0f0f0; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
}

.login-título {
    margin-top: 0; 
    color: #79111e;
}

#login input[type="text"],
#login input[type="password"] {
    width: 90%; 
    margin: 10px 0; 
    padding: 10px; 
    border: 1px solid #ccc;
    border-radius: 5px;
}
.img-1 {
    width: 1000px;
    height: 400px;
    background-color: rgb(192, 157, 4);
    color: white;
    margin: 40px auto;
    background-image: url(imgs/img1.webp);
    border-radius: 10px;
}
#texto {
    text-align: center;
    width: 600px;
    height: 400px;
    padding-top: 100px;
    padding-left: 400px;
    font-weight: 600;
}
#texto-title {
    font-size: 37px;
}
.button {
    background-color: transparent;
    color: white;
    border-radius: 20px;
    padding: 10px;
    border: solid 1px white;
    transition: background-color 0.3s, color 0.3s;
    font-size: 15px;
    font-weight: 700;
}
.button:hover {
    cursor: pointer;
    background-color: white;
    color: #79111e;
}
.img-2 {
    width: 1000px;
    height: 400px;
    background-color: rgb(192, 157, 4);
    color: white;
    margin: 40px auto;
    background-image: url(imgs/img2.webp);
    border-radius: 10px;
}
.img-3 {
    width: 1000px;
    height: 400px;
    background-color: rgb(192, 157, 4);
    color: white;
    margin: 40px auto;
    background-image: url(imgs/img3.webp);
    border-radius: 10px;
}.img-4 {
    width: 1000px;
    height: 400px;
    background-color: rgb(192, 157, 4);
    color: white;
    margin: 40px auto;
    background-image: url(imgs/img5.webp);
    border-radius: 10px;
}
#texto-2 {
    text-align: center;
    width: 600px;
    height: 400px;
    padding-top: 100px;
    padding-left: 200px;
    font-weight: 600;
}
#texto-3 {
    text-align: center;
    width: 600px;
    height: 400px;
    padding-top: 100px;
    padding-left: 10px;
    font-weight: 600;
}
#texto-4 {
    text-align: center;
    width: 600px;
    height: 400px;
    padding-top: 100px;
    padding-left: 400px;
    font-weight: 600;
    color:white;
}
#comprar {
    text-align: center;
    height: 350px;
    background-color: #79111e;
    padding: 20px;
    color: white;
}
.login-novaconta {
    color: #79111e;
}
.login-contanova {
    color: #0066ff;
}
.login-contanova:hover {
    color: #79111e;
}